
<header>
    <h1>Adirondack 46er</h1>
    <a href="/mountains"><button>Back to Main</button></a>
    <a href="/mountains/new"><button class="newHike">Create New Adventure</button></a>
    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
    <a href="/user/logout"><button>Logout</button></a>
</header>