
<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div>
            <form action="/mountains" method="POST">
                <fieldset>
                    <legend>Create a New Adventure</legend><br>
                    <label>
                        Hike To:<input
                        type="text"
                        name="mountainName"
                        placeholder="hike to what or where"/></label><br>
                    <label>
                        Rank:<input
                        type="number"
                        name="rank"
                        placeholder="rank order"/></label><br>
                    <label>
                        Elevation:<input
                        type="number"
                        name="elevation"
                        placeholder="high in feet"/></label><br>
                    <label>
                        Hike Complete:<input
                        type="checkbox"
                        name="hikeComplete"/></label><br>
                    <label>
                        Date Complete:<input
                        type="date"
                        name="dateComplete"
                        placeholder="date"/></label><br>
                    <label>
                        Image:<input
                        type="text"
                        name="img"
                        placeholder="photo"/></label>
                </fieldset>
                <input type="submit" value="Add New Adventure"/>
            </form>
        </div>
    </main>
</body>
</html>