
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <a href="/user/login"><button class="loginPage">Login Page</button></a>
  <body>
    <!-- <%#- include("../partials/header.ejs") %> -->
    <style>

    /* body {
      height: 75%;
        margin: 0;
        padding: 0;
        margin: 10px;
        justify-content: center;
    } */

    .signup {
      position: relative;
      /* display: flex;
      flex-direction: wrap;
      background-color: forestgreen;
      justify-content: center; */
    }

    .loginPage {
      margin: 1%;
    }

    .overlay-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center the form */
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
      padding: 20px;
      border-radius: 5px;
      /* Adjust z-index if needed */
}

    .full-width-image {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    </style>
    <main>
      <div class="signup">
        <img src="https://i.imgur.com/cKwU1OV.jpg" alt="Image description" class="full-width-image"> 
        <div class="overlay-form">
        <form action="/user/signup" method="post">
          <fieldset>
            <legend>New User</legend>
            <!-- <label
              >NAME: <input type="text" name="name" required />
            </label> -->
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Create Account" />
          </fieldset>
        </form>
        </div>
      </div>
      
      <!-- https://i.imgur.com/ww5Qcho.jpg -->
    </main>
  </body>
</html>
